:root {
  --main-color: #757575;
  --accent-color: #2196f3;
  --link-color: #212121;
  --title-color: #212121;
  --button-wh-color: #ffffff;
  --button-push-color: #188ce8;
  --title-hero-color: #ffffff;
  --hero-footer-color: #2f303a;
  --light-bgc: #ffffff; /*цвет светлой секции*/
  --dark-bgc: #f5f4fa; /*цвет темной секции*/
  --color1: #AFB1B8; /*цвет иконок*/
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* скрытие названия заголовка. заголовок только для семантики */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-color);

  margin-left: auto;
  margin-right: auto;
}

/* заголовки rgba(33, 33, 33, 1)
акцент синий #2196F3;
описание  #757575
цвет фона #E5E5E5;
вторичный цвет фона #F5F4FA;
*/

/* ---------------Common----------------- */

.accent-color {
  color: var(--accent-color);
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 1px solid red;*/
}

/* ---------------Header----------------- */

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.header-flex {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.nav-links {
  display: block;
  display: flex;
  margin-left: auto;
  gap: 47px;
}

.site-nav-link {
  color: var(--link-color);
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.link {
  font-weight: 500;
  line-height: calc(16 / 14);
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* ---------------Hero----------------- */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  margin-left: auto;
  margin-right: auto;

  /*background-color: var(--hero-footer-color);*/
}

.hero-image {
  
  background-image: linear-gradient(rgba(47, 48, 58, 0.7), rgba(47, 48, 58, 0.4)),
  url(../images/hero-image.jpg);
  
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%;
  

  max-width: 1600px;

}


.hero-title {
  display: block;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  margin: 0 auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-hero-color);

  margin-bottom: 30px;
  width: 696px;
}

/* ---------------Hero Button----------------- */

.main-button {
  display: block;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--button-wh-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;

  padding: 10px 32px 10px 32px;

  margin-left: auto;
  margin-right: auto;
}

.main-button:hover,
.main-button:focus {
  color: var(--button-wh-color);
  background-color: var(--button-push-color);
}

/* --------------Features преимущества------------------ */

.features {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--light-bgc);
}

.feature-flex {
  display: flex;
  gap: 30px;
}

.features-icon {
  padding: 25px;
  margin-bottom: 30px;
  background-color: var(--dark-bgc);

}

.features-header {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-color);

  margin-bottom: 10px;
}

.features-description {
  line-height: calc(24 / 14);
  margin-bottom: 0px;
}

/* --------------Work--чем мы занимаемся------------------ */

.work {
  padding-bottom: 94px;
  margin-bottom: 0px;

  background-color: var(--light-bgc);
}

.work-flex {
  display: flex;
  gap: 30px;
}

.work-title,
.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--title-color);

  margin-bottom: 50px;
}

/* --------------Team--наша команда------------------ */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--dark-bgc);
}

.team-flex {
  display: flex;
  gap: 30px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-color);

  margin-bottom: 10px;
}

.team-list {
  width: 270px;
  background-color: var(--light-bgc);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-description {
  /*-----------блок заголовка и параграфа--------------*/
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-name-description {
  font-size: 16px;
  line-height: 1.19;

  margin-bottom: 16px;
}


.social-icon-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  
}

.social-icon-link {
  width: 44px;
  height: 44px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-wh-color);
  border-radius: 50%;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
  --color1: #ffffff;

}

.project-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

/* --------------постійні клієнти------------------ */

.clients {
  background-color: var(--light-bgc);
  margin-bottom: 94px;
}

.clients-title {

color: var(--title-color);
padding-top: 94px;
margin-bottom: 50px;


  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.clients-flex {
  display: flex;
  justify-content: center;
  gap: 30px;
  fill: var(--main-color);
  margin-bottom: 94px;
}

.clients-flex >li:hover {
  --color1: var(--accent-color);
}


.clients-item {
  border: 1px solid var(--color1);
  border-radius: 4px;

  padding: 16px 32px;
  width: 170px;
  height: 92px;
  

}



/* --------------Portpholio page------------------ */

.portpholio-projects {
  background-color: var(--light-bgc);
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ---------------Other Buttons (portpholio)----------------- */

.buttons {
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  color: var(--title-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
}

.buttons:hover,
.buttons:focus {
  color: var(--button-wh-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.buttons.active {
  color: var(--button-wh-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portpholio-butt-flex {
  /*buttons flex*/
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 50px;
}

.portpholio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portpholio-flex > li:hover,
.portpholio-flex > li:focus  {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}



.portpholio-card-name {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

/* --------------Footer------------------ */

.footer {
  background-color: var(--hero-footer-color);

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  color: #fff;
  margin-bottom: 20px;

  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(36 / 26);
}

.nav-links-footer-list:not(:last-child) {
  margin-bottom: 9px;
}

.foot-adress {
  line-height: calc(24 / 14);
  color: #fff;
}
